<section class="sectionform">
    <form class="form" #postForm="ngForm" (ngSubmit)="guardarPost(postForm)">
        <input type="text" placeholder="Introduce el título de la noticia" ngModel name="title">
        <input type="text" placeholder="Introduce el autor" ngModel name="author">
        <input type="text" placeholder="Introduce la url de la imagen" ngModel name="url">
        <input type="date" placeholder="Introduce la fecha" ngModel name="date">
        <textarea name="" id="" rows="10" ngModel name="body"></textarea>
        <button>Guardar</button>
    </form>

</section>
