.sectionform .form :is(input, textarea) {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.sectionform button {
    padding: 10px
}

.sectionform{
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 30px;
}