
<section class="blog">

    <section class="sectionform">
        <div class="form">
            <input type="text" placeholder="Introduce el título de la noticia">
            <input type="text" placeholder="Introduce el autor">
            <input type="text" placeholder="Introduce la url de la imagen">
            <input type="date" placeholder="Introduce la fecha">
            <textarea name="" id="" rows="10"></textarea>
            <button>Guardar</button>
        </div>

    </section>


    <h2>Mis viajes preferidos</h2>
    <hr>

    <div class="grid">
        @for(post of arrPosts; track post.id) {
        <article>
            <figure>
                <img [src]="post.url" [alt]="post.title">
            </figure>
            <h3>{{post.title}}</h3>
            <p>autor: {{post.author}}</p>
            <p>Fecha: {{post.date | date: 'dd/mm/YYYY'}}</p>  <!--| date: 'dd/mm/YY' sirve para dar formato. Hay qie importar en el ts   imports: [DatePipe],
             -->
            <div class="content" [innerHTML]="post.body">
            </div>
        </article>
    }

    </div>


</section>