
<section class="blog">

    <section class="sectionform">
        <div class="form">
            <input type="text" placeholder="Introduce el título de la noticia">
            <input type="text" placeholder="Introduce el autor">
            <input type="text" placeholder="Introduce la url de la imagen">
            <input type="date" placeholder="Introduce la fecha">
            <textarea name="" id="" rows="10"></textarea>
            <button>Guardar</button>
        </div>

    </section>


    <h2>Mis viajes preferidos</h2>
    <hr>

    <div class="grid">
        <article>
            <figure>
                <img src="https://images.pexels.com/photos/12858513/pexels-photo-12858513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="paradisiaco">
            </figure>
            <h3>Viaje a la isla de creta</h3>
            <p>autor: Luis Llerena</p>
            <p>Fecha: 25/02/2025</p>
            <div class="content">
                <p> aliquip ut dolore ad sunt officia culpa. Non aliquip excepteur occaecat duis magna. Commodo do duis laboris occaecat sint cupidatat sunt consequat laboris minim et eu. Quis in proident non qui pariatur sunt cupidatat officia.</p>
            </div>
        </article>
        <article>
            <figure>
                <img src="https://images.pexels.com/photos/12858513/pexels-photo-12858513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="paradisiaco">
            </figure>
            <h3>Viaje a la isla de creta</h3>
            <p>autor: Luis Llerena</p>
            <p>Fecha: 25/02/2025</p>
            <div class="content">
                <p> aliquip ut dolore ad sunt officia culpa. Non aliquip excepteur occaecat duis magna. Commodo do duis laboris occaecat sint cupidatat sunt consequat laboris minim et eu. Quis in proident non qui pariatur sunt cupidatat officia.</p>
            </div>
        </article>        <article>
            <figure>
                <img src="https://images.pexels.com/photos/12858513/pexels-photo-12858513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="paradisiaco">
            </figure>
            <h3>Viaje a la isla de creta</h3>
            <p>autor: Luis Llerena</p>
            <p>Fecha: 25/02/2025</p>
            <div class="content">
                <p> aliquip ut dolore ad sunt officia culpa. Non aliquip excepteur occaecat duis magna. Commodo do duis laboris occaecat sint cupidatat sunt consequat laboris minim et eu. Quis in proident non qui pariatur sunt cupidatat officia.</p>
            </div>
        </article>
    </div>


</section>